mat-card {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.container {
    width: 600px;
    margin: 20px auto;

    h3 {
        font-size: xx-large;
    }

    h4 {
        font-size: x-large;
    }
}

