<p>
  <mat-toolbar color="primary">
    <span>CCEE Uploader</span>
  </mat-toolbar>
</p>

<div class="container">
  <app-file-upload></app-file-upload>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Buscar Por Região</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <mat-label>Código Região</mat-label>
          <input type="text" matInput placeholder="Ex. SE" [(ngModel)]="codigoRegiao">
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="buscarDadosConsolidadoRegiao()">
          Buscar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <pre>
    {{ dadosConsolidados | json }}
  </pre>
</div>